@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 240 10% 3.9%;
  --color-primary: 240 5.9% 10%;
  --color-primary-foreground: 0 0% 98%;
  --color-secondary: 240 4.8% 95.9%;
  --color-secondary-foreground: 240 5.9% 10%;
  --color-accent: 240 4.8% 95.9%;
  --color-accent-foreground: 240 5.9% 10%;
  --color-muted: 240 4.8% 95.9%;
  --color-muted-foreground: 240 3.8% 46.1%;
  --color-border: 240 5.9% 90%;
  --color-input: 240 5.9% 90%;
  --color-ring: 240 5.9% 10%;
  
  --color-warning-background: 42 47% 66%;
  --color-warning-foreground: 42 37% 93%;
  --color-success-background: 143 55% 65%;
  --color-success-foreground: 143 40% 92%;
  --color-danger-background: 0 55% 65%;
  --color-danger-foreground: 0 58% 92%;
  --color-info-background: 216 55% 65%;
  --color-info-foreground: 216 40% 92%;
  
  --radius: 0.5rem;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary-foreground);
  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary-foreground);
  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent-foreground);
  --muted: var(--color-muted);
  --muted-foreground: var(--color-muted-foreground);
  --border: var(--color-border);
  --input: var(--color-input);
  --ring: var(--color-ring);
  
  --warning-background: var(--color-warning-background);
  --warning-foreground: var(--color-warning-foreground);
  --success-background: var(--color-success-background);
  --success-foreground: var(--color-success-foreground);
  --danger-background: var(--color-danger-background);
  --danger-foreground: var(--color-danger-foreground);
  --info-background: var(--color-info-background);
  --info-foreground: var(--color-info-foreground);
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-rubik), Helvetica, sans-serif;
}